<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>

    <div class="ms-auto">

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_list') }}" class="btn btn-outline-primary me-3">
          Utilisateurs
        </a>
      {% endif %}
      
      {# Si l’utilisateur **n’est pas** connecté, on propose S’enregistrer et Se connecter #}
      {% if not app.user %}
        <a href="{{ path('user_create') }}" class="btn btn-primary me-2">S’enregistrer</a>

        {# On n’affiche pas le bouton de connexion sur la page de login #}
        {% if app.request.attributes.get('_route') != 'login' %}
          <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
        {% endif %}
      {% else %}
        {# Si l’utilisateur est connecté, on propose uniquement Se déconnecter #}
        <a href="{{ path('logout') }}" class="btn btn-danger">Se déconnecter</a>
      {% endif %}
    </div>
  </div>
</nav>
